* {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

.product-viewtag {
    background-color: red;
    color: #fff;
    font-size: 11px;
    line-height: 1;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 12px;
    border-radius: 5px;
    margin-left: 12.5rem;
    padding: 7px 10px;
    font-weight: 600;
    min-width: 45px;
}